<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You Placed a new order from <%= @order.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @order.id %></p>
    <p>price: <%= @order.price %></p>
    <p>quantity: <%= @order.quantity %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>"Stay Safe  and Stay Home"</p>
    </body>
  </html>